$primary-color: #000;
$secondary-color: #e60000;
$background-nav: #020203;
$black: #262627;
$black-lighter: #282d30;
$white: #fffefc;
$light-grey: #fbfbfb;
$hover-grey: #dfdfdf;
$font-grey: #74798c;
$red-darker: #ce2626;
$dark-title: #20253a;
$red: rgba(231, 66, 66, 0.4);
