@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap');
@import 'colors';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  // color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1024px;
  min-height: 780px;
  // max-width: 1440px;
}

.temp-div {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
  margin: 20% auto;
}
