@import 'colors';
.goal-container {
  position: relative;
  background: $light-grey;
  border-radius: 5px;
  aspect-ratio: 1/1;
  width: 31%;
  // height: auto;
  > h3 {
    padding: 0;
    margin: 24px 0 0 30px;
    font-size: 15px;
    font-weight: bolder;
    color: $dark-title;
  }
  .recharts-responsive-container {
    position: absolute;
    top: 15px;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
  }

  .recharts-wrapper {
    .recharts-legend-wrapper {
      text-align: center;

      .score-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        span.score {
          font-size: 26px;
          font-weight: bolder;
        }
        div {
          display: flex;
          justify-content: center;

          > .description {
            font-size: 16px;
            font-weight: bolder;
            text-align: center;
            color: rgba(116, 121, 140, 1);
            margin: 0;

            padding-left: 10%;
            padding-right: 10%;
            line-height: 26px;
            max-width: 100px;
          }
        }
      }
    }
  }
}
