@import 'colors';
@import 'breakpoints';

.perf-container {
  position: relative;
  background-color: $black-lighter;
  border-radius: 5px;
  aspect-ratio: 1/1;
  height: 263px;
  width: 258px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
}
.recharts-polar-angle-axis-tick {
  font-size: 12px;
}
